[Desktop Entry]
Name=Chatgpt
Comment=
Exec=brave --app="https://chatgpt.com/"
Icon=/home/brett/Pictures/chatgpt-icon.png
Terminal=false
Type=Application
Categories=AI
