[Desktop Entry]
Name=Gmail
Comment=
Exec=brave --app="https://mail.google.com/mail/u/0/?hl=en&shva=1#inbox"
Icon=/home/brett/Pictures/gmail-icon.png
Terminal=false
Type=Application
Categories=Mail
